In [1]:
import sqlite3

In [9]:
conn=sqlite.connect("ems.db")

In [4]:
c="create table employee(eid int primary key,ename text,dept text,basic int,branch text)"

In [5]:
cursor=conn.cursor()

In [6]:
cursor.execute(c)

In [7]:
conn.commit()

In [8]:
conn.close()

In [10]:
import sqlite3

In [11]:
conn=sqlite.connect("ems.db")

In [12]:
cursor.execute('insert into employee values(1,'om','accountant',5000,'surat'))

In [13]:
cursor.execute('insert into employee values(2,'sai','IT',6900,'mandvi'))

In [14]:
cursor.execute('insert into employee values(3,'ram','HR',7000,'madhi'))

In [16]:
cursor.execute('insert into employee values(4,'krishna','accountant',5000,'surat'))

In [17]:
cursor.execute('insert into employee values(5,'radha','wed developer',5000,'surat'))

In [18]:
conn.commit()

In [19]:
r=[(6,'bhavik','principle',8500,'madhi'),
     (7,'meet','HR',9500,'vyara'),
     (8,'dev','HR',7000,'surat'),
     (9,'deep','Inventory',8600,'bardoli'),
     (10,'vivek','HR',7500,'vyara')]

In [20]:
c="insert into employee values(?,?,?,?,?)"

In [21]:
cursor.executemany(c,r)

In [22]:
conn.commit()

In [23]:
d="insert into employee values(?,?,?,?,?)"

In [24]:
L=[]

In [25]:
for a in range(5:)

In [26]:
n=int(input("Enter emp id:"))
    name=input("Enter emp name:")
    dep=input("Enter emp department:")
    basic=int(input("Enter emp basic:"))
    branch=input("Enter emp branch")

In [27]:
t=(n,name,dep,basic,branch)

In [28]:
l.append(t)

In [29]:
cursor.executemany(d,l)

In [30]:
conn.commit()

In [31]:
conn.colse()

In [32]:
import selite3

In [33]:
conn=sqlite.connect("ems.db")

In [34]:
u="update employee set basic=basic+(basic*10)/100 where branch='surat'"

In [35]:
cursor=conn.cursor()

In [36]:
cursor.execute(u)

In [37]:
conn.commit()

In [38]:
conn.colse()

In [39]:
import sqlite3

In [49]:
conn=sqlite.connect("ems.db")

In [41]:
s="select * from employee"

In [42]:
cursor=conn.cursor()

In [43]:
cursor.execute(s)

In [44]:
r=cursor.fetchall()

In [45]:
for i in range(len(r)):
    print("emp id:",(r[i][0]))
    print("emp name:",(r[i][1]))
    print("emp dept:",(r[i][2]))
    print("emp basic:",(r[i][3]))
    print("emp branch:",(r[i][4]))

In [46]:
conn.commit()

In [47]:
conn.colse()

In [48]:
import sqlite3

In [50]:
conn=sqlite.connect("ems.db")

In [51]:
a="select * from employee where dept in('HR','IT')"

In [52]:
cursor=conn.cursor()

In [53]:
cursor.execute(a)

In [54]:
r=cur.fetchall()
    for i in range(len(r)):
            print("emp id:",(r[i][0]))
            print("emp name:",(r[i][1]))
            print("emp dept:",(r[i][2]))
            print("emp basic:",(r[i][3]))
            print("emp branch:",(r[i][4]))

In [55]:
conn.commit()

In [56]:
conn.colse()

In [57]:
import sqlite3

In [58]:
conn=sqlite.connect("ems.db")

In [59]:
b="select * from employee order by dept"

In [60]:
cursor=conn.cursor()

In [61]:
cursor.execute(b)

In [62]:
r=cur.fetchall()
for i in range(len(r)):
       print("emp id:",(r[i][0]))
        print("emp name:",(r[i][1]))
        print("emp dept:",(r[i][2]))
        print("emp basic:",(r[i][3]))
        print("emp branch:",(r[i][4]))

In [63]:
conn.commit()

In [64]:
conn.close()

In [65]:
import sqlite3

In [66]:
conn=sqlite.connect("ems.db")

In [67]:
b="select * from employee where basic>6000"

In [68]:
cursor=conn.cursor()
cursor.execute(b)

In [69]:
for i in range(len(r)):
    print("emp id:",(r[i][0]))
    print("emp name:",(r[i][1]))
    print("emp dept:",(r[i][2]))
    print("emp basic:",(r[i][3]))
    print("emp branch:",(r[i][4]))

In [70]:
conn.commit()

In [71]:
conn.close()

In [72]:
import sqlite3

In [73]:
conn=sqlite.connect("ems.db")

In [74]:
v="select * from employee where ename like'_r%'"

In [82]:
cursor=conn.cursor()
cursor.execute(v)

In [83]:
r=cur.fetchall()
    for i in range(len(r)):
        print("emp id:",(r[i][0]))
        print("emp name:",(r[i][1]))
        print("emp dept:",(r[i][2]))
        print("emp basic:",(r[i][3]))
        print("emp branch:",(r[i][4]))

In [84]:
conn.commit()

In [85]:
conn.colse()

In [86]:
import sqlite3

In [87]:
conn=sqlite.connect("ems.db")

In [88]:
z="select * from employee where dept in('Account','Inventory') group by dept"

In [89]:
cursor=con.cursor()
cursor.execute(z)

In [90]:
r=cur.fetchall()
    for i in range(len(r)):
            print("emp id:",(r[i][0]))
            print("emp name:",(r[i][1]))
            print("emp dept:",(r[i][2]))
            print("emp basic:",(r[i][3]))
            print("emp branch:",(r[i][4]))

In [91]:
conn.commit()

In [92]:
conn.close()

In [93]:
import qlite3

In [94]:
conn=sqlite.connect("ems.db")

In [95]:
m="select * from employee order by dept desc"

In [96]:
cursor=con.cursor()
cursor.execute(m)

In [97]:
r=cur.fetchall()
    for i in range(len(r)):
            print("emp id:",(r[i][0]))
            print("emp name:",(r[i][1]))
            print("emp dept:",(r[i][2]))
            print("emp basic:",(r[i][3]))
            print("emp branch:",(r[i][4]))

In [98]:
conn.commit()

In [99]:
conn.close()